.main {
    padding: 0;
}

.home_statistical {
    margin: 30px 0 20px;
}

.home_statistical-nav {
    margin-bottom: 9.5px;
}

.home_statistical-nav ul {
    display: flex;
    align-items: center;
}

.home_statistical-nav ul li:first-child {
    margin-left: 0px;
}

.home_statistical-nav ul li {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.home_statistical-nav ul li a {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: rgba(46, 49, 146, 0.6);
    display: block;
    position: relative;
    font-family: 'Merriweather';
}

.home_statistical-nav ul li a.active {
    font-size: 22px;
    line-height: 130%;
    color: #2E3192;
    font-weight: 700;
    font-family: 'Merriweather';
    padding-left: 16px;
    position: relative;
}

.home_statistical-nav ul li a.active:before {
    content: "";
    width: 3px;
    height: 24px;
    background: #2E3192;
    left: 0;
    top: 2px;
    position: absolute;
}

.home_statistical-nav ul li a.active:after {
    content: "";
    width: 3px;
    height: 24px;
    background: #ED1C24;
    left: 3px;
    top: 2px;
    position: absolute;
}

.home_statistical-nav ul .xxx:before {
    content: "/";
    height: 24px;
    left: 0;
    font-size: 34px;
    margin-right: 16px;
    position: relative;
    top: -6px;
    color: #C0C1DE;
}

.home_statistical-nav-content {
    display: flex;
    justify-content: space-between;
}

.home_statistical-nav--content .content-tab.show {
    display: block;
}

.home_statistical-nav--content .content-tab {
    width: 100%;
    /* display: none; */
}

.home_statistical-list {
    display: flex;
    justify-content: space-between;
}

.home_statistical-list .item p {
    text-align: center;
}

.home_statistical-list .item {
    width: calc(33% - 9.75px);
    text-align: center;
    background: rgba(237, 28, 36, 0.1);
    padding: 8px;
}

.home_statistical-list .item .text {
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    color: #333333;
    font-family: 'Merriweather';
    font-weight: 600;
}

.home_statistical-list .item .value {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #ED1C24;
    font-family: 'Merriweather';
}

.home_statistical-list .item .note {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #666666;
}

.home_statistical-list .item .note span {
    font-weight: 600;
}

.home_statistical-list .item:nth-child(2) {
    background: rgba(40, 167, 69, 0.1);
}

.home_statistical-list .item:nth-child(2) .value {
    color: #28A745;
}

.home__statistical-list .item:nth-child(3) {
    background: #F0EFF4;
}

.home_statistical-list .item:nth-child(3) .value {
    color: #333333;
}