#container {
    height: 400px;
}

.home_statistical-nav ul,
.home_juncture-flex {
    display: flex;
    justify-content: space-between;
}

.home_statistical-nav ul li span {
    font-size: 22px;
    line-height: 130%;
    color: #2E3192;
    font-weight: 700;
    font-family: 'Merriweather';
    padding-left: 16px;
}

.home_statistical-nav ul li span:before {
    content: "";
    width: 3px;
    height: 24px;
    background: #2E3192;
    left: 0;
    top: 2px;
    position: absolute;
}

.home_statistical-nav ul li span:after {
    content: "";
    width: 3px;
    height: 24px;
    background: #ED1C24;
    left: 3px;
    top: 2px;
    position: absolute;
}

.home_juncture-flex .box-juncture {
    width: calc(50% - 20px);
}

.home_juncture-flex .table-left {
    border: 1px solid #EAEAF4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 100%;
    padding: 0 10px;
    position: relative;
}

.home_juncture-flex .table-left .row.head {
    font-weight: 500;
    margin: 0 10px;
    width: calc(100% - 20px);
}

.home_juncture-flex .table-left .row {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 15px;
    line-height: 100%;
    color: #333333;
    font-family: 'Merriweather';
    padding: 15px 10px;
}

.home_juncture-flex .table-left .row .total {
    width: 80px;
    text-align: right;
    margin-left: 10px;
}

.home_juncture-flex .table-left .row .daynow {
    width: 74px;
    text-align: right;
    margin-left: 10px;
}

.home_juncture-flex .table-left .row .die {
    width: 69px;
    text-align: right;
    margin-left: 10px;
}

.home_juncture-flex .table-left .tbody {
    max-height: 400px;
    overflow-y: scroll;
    padding: 0 10px;
}

.home_juncture-flex .table-left .row {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 15px;
    line-height: 100%;
    color: #333333;
    font-family: 'Merriweather';
    padding: 15px 10px;
}

.home_juncture-flex .table-left .row .city {
    flex: 1;
}

.home_juncture-flex .table-left .row .total {
    width: 80px;
    text-align: right;
    margin-left: 10px;
}

.home_juncture-flex .table-left .row .daynow.red {
    color: #DA2E59;
}

.home_juncture-flex .table-left .row .die {
    width: 69px;
    text-align: right;
    margin-left: 10px;
}

.home_juncture-flex .table-left .tbody::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
}

.home_juncture-flex .table-left .tbody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
}

.home_juncture-flex .chart-right {
    border: 1px solid #EAEAF4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    height: 100%;
}

.home_juncture-flex .chart-right .chart-top {
    display: flex;
    justify-content: space-between;
}

.home_juncture-flex .chart-right .chart-top .nav-type,
.home_juncture-flex .chart-right .chart-top .nav-name {
    display: flex;
}

.home_juncture-flex .chart-right .chart-top .item.active {
    background: #2E3192;
    color: #fff;
}

.home_juncture-flex .chart-right .chart-top .item {
    display: block;
    padding: 10px 8px;
    background: rgba(46, 49, 146, 0.1);
    border-radius: 3px;
    margin-left: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #757575;
}

.home_juncture-flex .chart-right .chart-top .item:first-child {
    margin-left: 0;
}

.highcharts-container {
    position: relative;
    overflow: hidden;
    width: 498px;
    height: 400px;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: manipulation;
    outline: none;
}